@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  font-size: 20px;
}

body {
  margin: 0;
  background-color: #FF9191;
  font-family: 'Nunito Sans', sans-serif;
}

.size{
  width: 100%;
  margin: 0;
}